fastapi
libclang
numpy
pydantic
pydantic_core
PyJWT
pywatchman
requests
requests-oauthlib
typing_extensions
urllib3
uvicorn
sqlalchemy
python-dotenv==1.0.0
psycopg2
psycopg2-binary
python-socketio
eventlet
websocket-client
boto3
python-multipart
python-magic
dadata