firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
fastapi
numpy
pydantic
PyJWT
requests
requests-oauthlib
typing_extensions
urllib3
uvicorn
sqlalchemy
python-dotenv
psycopg2-binary
python-socketio
eventlet
websocket-client
python-multipart
python-magic
asyncpg
boto3
joblib
pandas
scikit-learn==1.3.0
aiohttp